<ion-header>
  <ion-toolbar>
    <button ion-button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Paradies Wellness
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="card-background-page" padding>

  <form [formGroup]="subscriberForm" (ngSubmit)="addDatabaseSubscriber()">
    <ion-card padding>
      <ion-item text-center>
        Subscribe to receive all the latest news and events!
      </ion-item>

      <ion-item padding>
        <ion-label floating>E-mail Address</ion-label>
        <ion-input type="email" formControlName="email" email></ion-input>
      </ion-item>

      <button ion-button round full color="primary" type="submit" [disabled]="!subscriberForm.valid">Subscribe!</button>
    </ion-card>
  </form>

  <ion-card *ngIf="databaseSubscribers.length > 0">
    <ion-item *ngFor="let sub of databaseSubscribers" (click)="deleteDatabaseSubscriber(sub.id)">
      {{ sub.email }}
    </ion-item>
  </ion-card>

  <ion-card class="">
    <img src="assets/imgs/dawn-dusk.jpg"/>
    <div class="card-title">Reiki</div>
    <!--<div class="card-subtitle">Options</div>-->
  </ion-card>

  <ion-card class="">
    <img src="assets/imgs/sunrise-yoga.jpg"/>
    <div class="card-title">Yoga</div>
    <!--<div class="card-subtitle">Options</div>-->
  </ion-card>
</ion-content>
